@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

li a{
    text-decoration: none;
}

.header{
    background-color: #1F2937;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.navbar li a{
    font-size: 28px;
    padding: 10px;  
    margin: 10px 20px;
}


.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.navbar-items a{
    color: #fff;
}

ul{
    list-style-type: none;
}   

.logo{
    height: 130px;
}

.hero{
    background-color: #1F2937;
    padding: 12px;
    display: flex;
    justify-content: center;
}
.text-information{
    max-width: 600px;
    display: flex;
    flex-flow: column wrap;
    color: #fff;

}

.text-information h2{
    font-size: 48px;
    font-weight: 900;
}

.button{
    width: 100px;
    height: 20px;
    border-radius: 4.5px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 30px;
    margin-top: 15px;
}

.hero img{
    width: 300px;
}

.features{
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-info{
    background-color: #F9FAF8;
    padding-top: 10px;
    /* border: 2px solid red; */
    
}

.body-info h3{
    font-size: 36px;
    text-align: center;

}
.box-container{
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.box-container img{
    width: 200px;
    border: 4.5px solid #3882F6;
    border-radius: 5%;
    box-shadow: 12px 12px 2px 1px rgba(105, 105, 129, 0.3);
}

.info{
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    
}
.info .text{
    margin-top: 10px;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 50px;
}

.main-quote{
    display: flex;
    gap: 20px;
    justify-content:center
}

.main-quote .quote{
    padding: 100px;
    border: 2px solid red;
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
}
